---
layout: default
title: Spanish Teacher - Wellington
---

{% include header.html image_url="/img/DSC01043.png" %}

<div class="row">
  <div class="col-md-8">
    <h2>About Me</h2>
    <p class="text-justify">Hola, I'm Martha (<i>me llamo Martha</i>). I come from Mexico so I'm a native Spanish speaker, and I’ve lived in Wellington for many years.</p>

    <p class="text-justify">I have over 25 years’ experience in teaching Spanish to adults and children, and I also work as a translator and interpreter. My accelerated learning methods have been very successful over the years.</p>

    <p class="text-justify">I teach classes one to one or up to ten people, and run continuing education courses at university. I also work with skype where required.</p>

    <p class="text-justify">I love teaching Spanish and like it to be fun!</p>

    <blockquote><i>¡Me gusta enseñar español!<br/>
        ¡Gozo que mis estudiantes aprendan español!<br />
        ¡Es divertido!
    </i></blockquote>
  </div>
  <div class="col-md-4">
    {% include contact.html %}
  </div>
</div>
